__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.env
*.kicad_pcb-bak
*.kicad_sch-bak
.DS_Store
Thumbs.db
*.jar
output/
fr_extract/
/tmp/
*.log
*.kicad_pcb
*.json
!pyproject.json
output/
*.dsn
*.ses
*.kicad_prl
*.kicad_pro
monocle-schematics.pdf
*.exe
patch_fr.py
xx.txt
tests/
